Lost&found/n8n-workflow-match-detection.json
{
  "name": "UB Lost & Found - Automated Match Detection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "found-item-approved",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "found-item-approved"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Extract found item details\nconst itemID = input.itemID || input.ItemID || '';\nconst itemName = input.itemName || input.ItemName || '';\nconst itemClass = input.itemClass || input.ItemClass || input.ClassName || '';\nconst description = input.description || input.Description || '';\n\nreturn [{\n  json: {\n    itemID: itemID,\n    itemName: itemName,\n    itemClass: itemClass,\n    description: description,\n    originalData: input\n  }\n}];"
      },
      "id": "extract-item-data",
      "name": "Extract Item Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ublf.x10.mx/api/v1/reports?search={{ $json.itemName }}&itemClass={{ $json.itemClass }}",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ublf-x10mx-2024-secure-api-key-7a9b3c2d1e4f6g8h"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "search-matching-lost-items",
      "name": "Search Matching Lost Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-matches",
              "leftValue": "={{ $json.data && $json.data.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-matches",
      "name": "Check for Matches",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "const matches = $('Search Matching Lost Items').first().json.data || [];\nconst foundItem = $('Extract Item Data').first().json;\n\n// Process each match\nconst notifications = matches.map(match => ({\n  json: {\n    studentNo: match.StudentNo || match.studentNo,\n    studentName: match.StudentName || match.studentName || 'Student',\n    studentEmail: match.Email || match.email || '',\n    lostItemName: match.ItemName || match.itemName,\n    lostItemID: match.ReportID || match.reportID,\n    foundItemName: foundItem.itemName,\n    foundItemID: foundItem.itemID,\n    matchScore: calculateMatchScore(match, foundItem)\n  }\n}));\n\nfunction calculateMatchScore(lostItem, foundItem) {\n  let score = 0;\n  \n  // Name similarity (0-50 points)\n  const nameSimilarity = stringSimilarity(\n    (lostItem.ItemName || '').toLowerCase(),\n    (foundItem.itemName || '').toLowerCase()\n  );\n  score += nameSimilarity * 50;\n  \n  // Class match (30 points)\n  if ((lostItem.ClassName || '') === (foundItem.itemClass || '')) {\n    score += 30;\n  }\n  \n  // Description similarity (0-20 points)\n  const descSimilarity = stringSimilarity(\n    (lostItem.Description || '').toLowerCase(),\n    (foundItem.description || '').toLowerCase()\n  );\n  score += descSimilarity * 20;\n  \n  return Math.round(score);\n}\n\nfunction stringSimilarity(str1, str2) {\n  if (!str1 || !str2) return 0;\n  const longer = str1.length > str2.length ? str1 : str2;\n  const shorter = str1.length > str2.length ? str2 : str1;\n  if (longer.length === 0) return 1.0;\n  \n  const distance = levenshteinDistance(longer, shorter);\n  return (longer.length - distance) / longer.length;\n}\n\nfunction levenshteinDistance(str1, str2) {\n  const matrix = [];\n  for (let i = 0; i <= str2.length; i++) {\n    matrix[i] = [i];\n  }\n  for (let j = 0; j <= str1.length; j++) {\n    matrix[0][j] = j;\n  }\n  for (let i = 1; i <= str2.length; i++) {\n    for (let j = 1; j <= str1.length; j++) {\n      if (str2.charAt(i - 1) === str1.charAt(j - 1)) {\n        matrix[i][j] = matrix[i - 1][j - 1];\n      } else {\n        matrix[i][j] = Math.min(\n          matrix[i - 1][j - 1] + 1,\n          matrix[i][j - 1] + 1,\n          matrix[i - 1][j] + 1\n        );\n      }\n    }\n  }\n  return matrix[str2.length][str1.length];\n}\n\nreturn notifications;"
      },
      "id": "process-matches",
      "name": "Process Matches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ublf.x10.mx/api/v1/webhooks",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ublf-x10mx-2024-secure-api-key-7a9b3c2d1e4f6g8h"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"create_notification\",\n  \"studentNo\": \"{{ $json.studentNo }}\",\n  \"type\": \"match_found\",\n  \"title\": \"Potential Match Found!\",\n  \"message\": \"A found item matching your lost '{{ $json.lostItemName }}' has been reported. Match score: {{ $json.matchScore }}%\",\n  \"relatedID\": \"{{ $json.foundItemID }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "create-notification",
      "name": "Create Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "fromEmail": "lostfound@ub.edu.ph",
        "toEmail": "={{ $('Process Matches').first().json.studentEmail }}",
        "subject": "Potential Match Found for Your Lost Item!",
        "emailType": "html",
        "message": "<h2>Potential Match Found!</h2><p>Hello {{ $('Process Matches').first().json.studentName }},</p><p>We found a potential match for your lost item: <strong>{{ $('Process Matches').first().json.lostItemName }}</strong></p><p><strong>Found Item:</strong> {{ $('Extract Item Data').first().json.itemName }}</p><p><strong>Match Score:</strong> {{ $('Process Matches').first().json.matchScore }}%</p><p>Please check your dashboard for more details.</p><p>Best regards,<br>UB Lost & Found Team</p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1450, 200],
      "notes": "Configure email credentials (Gmail, SendGrid, etc.)"
    },
    {
      "parameters": {
        "jsCode": "const foundItem = $('Extract Item Data').first().json;\nconst matches = $('Search Matching Lost Items').first().json.data || [];\nconst matchCount = matches.length;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Match detection completed. Found ${matchCount} potential match(es) for '${foundItem.itemName}'`,\n    foundItemID: foundItem.itemID,\n    foundItemName: foundItem.itemName,\n    matchesFound: matchCount,\n    notificationsSent: matchCount,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json.error;\nreturn [{\n  json: {\n    success: false,\n    error: error?.message || error?.error || 'Unknown error',\n    message: 'Match detection failed'\n  }\n}];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Extract Item Data", "type": "main", "index": 0}]]
    },
    "Extract Item Data": {
      "main": [[{"node": "Search Matching Lost Items", "type": "main", "index": 0}]]
    },
    "Search Matching Lost Items": {
      "main": [[{"node": "Check for Matches", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Check for Matches": {
      "main": [
        [{"node": "Process Matches", "type": "main", "index": 0}],
        [{"node": "Format Response", "type": "main", "index": 0}]
      ]
    },
    "Process Matches": {
      "main": [[{"node": "Create Notification", "type": "main", "index": 0}]]
    },
    "Create Notification": {
      "main": [[{"node": "Send Email Notification", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Send Email Notification": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    },
    "Error Handler": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

