Lost&found/n8n-workflow-create-lost-report.json
{
  "name": "UB Lost & Found - Create Lost Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-lost-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create-lost-report"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Handle photo - convert to base64 if needed\nlet photoBase64 = null;\nif (input.photoFile) {\n  photoBase64 = input.photoFile;\n} else if (input.photo) {\n  photoBase64 = input.photo;\n}\n\nreturn [{\n  json: {\n    action: 'create_lost_report',\n    studentNo: input.studentNo || '',\n    itemName: input.itemName || '',\n    itemClass: input.itemClass || '',\n    description: input.description || '',\n    dateOfLoss: input.dateOfLoss || '',\n    lostLocation: input.lostLocation || '',\n    photo: photoBase64\n  }\n}];"
      },
      "id": "process-input",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ublf.x10.mx/api/v1/webhooks",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ublf-x10mx-2024-secure-api-key-7a9b3c2d1e4f6g8h"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-php-api",
      "name": "Call PHP API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nreturn [{\n  json: {\n    success: response.success || false,\n    message: response.message || 'Report processed',\n    data: response.data || null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json.error;\nreturn [{\n  json: {\n    success: false,\n    error: error?.message || error?.error || 'Unknown error',\n    message: 'Failed to create lost item report'\n  }\n}];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Process Input", "type": "main", "index": 0}]]
    },
    "Process Input": {
      "main": [[{"node": "Call PHP API", "type": "main", "index": 0}]]
    },
    "Call PHP API": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    },
    "Error Handler": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

