Lost&found/n8n-workflow-create-lost-report.json
{
  "name": "UB Lost & Found - Create Lost Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-lost-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create-lost-report"
    },
    {
      "parameters": {
        "jsCode": "// Get input from webhook - simple JSON now\nconst input = $input.first().json || $input.first() || {};\nconst webhookData = input.body || input.json || input || {};\n\n// Extract photoURL (string, not binary)\nconst photoURL = webhookData.photoURL || input.photoURL || null;\n\nconsole.log('Photo URL received:', photoURL ? 'YES' : 'NO');\nif (photoURL) {\n  console.log('Photo URL:', photoURL);\n}\n\nreturn [{\n  json: {\n    action: 'create_lost_report',\n    studentNo: webhookData.studentNo || input.studentNo || '',\n    itemName: webhookData.itemName || input.itemName || '',\n    itemClass: webhookData.itemClass || input.itemClass || '',\n    description: webhookData.description || input.description || '',\n    dateOfLoss: webhookData.dateOfLoss || input.dateOfLoss || '',\n    lostLocation: webhookData.lostLocation || input.lostLocation || '',\n    photoURL: photoURL  // String URL, not base64\n  }\n}];"
      },
      "id": "process-input",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ublf.x10.mx/api/v1/webhooks",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ublf-x10mx-2024-secure-api-key-7a9b3c2d1e4f6g8h"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-php-api",
      "name": "Call PHP API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Safely extract response data\nconst input = $input.first();\nconst response = input?.json || input || {};\n\n// Handle error responses\nif (response.error || response.success === false) {\n  return [{\n    json: {\n      success: false,\n      message: response.message || response.error || 'Failed to create lost item report',\n      error: response.error || 'Unknown error'\n    }\n  }];\n}\n\n// Handle success responses\nreturn [{\n  json: {\n    success: response.success !== undefined ? response.success : true,\n    message: response.message || 'Lost item report processed successfully',\n    data: response.data || response.id || null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json.error;\nreturn [{\n  json: {\n    success: false,\n    error: error?.message || error?.error || 'Unknown error',\n    message: 'Failed to create lost item report'\n  }\n}];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Process Input", "type": "main", "index": 0}]]
    },
    "Process Input": {
      "main": [[{"node": "Call PHP API", "type": "main", "index": 0}]]
    },
    "Call PHP API": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    },
    "Error Handler": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

